#logo{
    vertical-align: middle;
}
#logo-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 800;
}
#task-button{   
    background-color: lightblue;
    border-radius: 10px;
}
.w3-tag{
    border-radius: 8px;
    padding: 3px;
}
.w3-tag#editorial{
    background-color: lightblue;
}
.w3-tag#goals{
    background-color: palevioletred;
}
.w3-tag#team{
    background-color: lightseagreen;
}
.w3-tag#app{
    background-color: lightsalmon;
}
.w3-tag#web{
    background-color: pink;
}
.w3-tag#sales{
    background-color: greenyellow;
}