body{
    box-sizing: border-box;
    margin: auto;
}
#site_header{
    background-color: white;
}
#logo{
    vertical-align: middle;
}
#logo-text{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 800;
}
body{
    background-color: lightgray;
}
#site_main{
    margin: 5px auto; 
}
#central-block{
    margin: 40px auto;
    width: 70%;
}
#main-header{
    background-color: white;
    margin: 5px auto;
    border-radius: 4px;
    padding: 15px
}
#main-body{
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}
#task-button{   
    background-color: rgba(71, 173, 241, 100);
    border-radius: 8px;
    color: white;
    height: 25px;
    border: 1px solid red;
    width: 75px;
}
#section-button{
    color: lightgray;
    border-radius: 8px;
    background-color: white;
    height: 25px;
    border: 1px solid lightgray;
    width: 90px;
}
.w3-tag{
    border-radius: 8px;
    padding: 5px;
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
}
.section-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.w3-tag#editorial{
    background-color: rgba(71, 173, 241, 100);
}
.w3-tag#goals{
    background-color: rgba(156, 114, 228, 100);
}
.w3-tag#team{
    background-color: rgba(100, 192, 169, 100)   ;
}
.w3-tag#app{
    background-color: rgba(242, 158, 51, 100)
}
.w3-tag#web{
    background-color: rgba(216, 99, 161, 100);
}
.w3-tag#sales{
    background-color: rgba(176, 201, 38, 100);
}